%h1 Resources:

%ul#list_of_resources
  %li.twitter= link_to 'Follow us on Twitter', 'http://www.twitter.com/wmrug'
  %li.mailing_list= link_to 'Join our Mailing List', 'http://groups.google.com/group/wmrug'
  %li.meetup= link_to 'Find us on Meetup.org', 'http://www.meetup.com/West-Midlands-Ruby-User-Group-WMRUG'
  %li.irc= link_to 'Chat with us on IRC', 'irc://irc.freenode.net/%23wmrug', :title => 'irc.freenode.net #wmrug'
  / %li.flickr= link_to 'See our Past Events on Flickr', '#'
  %li.facebook= link_to 'Join us on Facebook', 'http://www.facebook.com/pages/West-Midlands-Ruby-User-Group/148725698481935'  
  %li.github= link_to 'See our code on GitHub', 'http://github.com/wmrug'
  %li.linkedin= link_to 'Find us on LinkedIn', 'http://www.linkedin.com/groups?gid=2563538'
  / http://www.workingwithrails.com/group/12009-wmrug
  %li.rugs= link_to 'Check out RubyUserGroups.org', 'http://www.rubyusergroups.org'  