#banner
  - images = ['photo1.jpg', 'photo2.jpg']
  - Event.all[0..4].each do |e|
    = image_tag "meetup_photos/#{e.image}"
#columns
  #home_upcoming_events
    %h1 Upcoming Events...
    = render(@upcoming_events)

  #home_past_events
    %h1 Past Events...
    = render(@past_events)

  #resources
    = render :partial => 'shared/resources'

.clear