%li
  = f.label :title
  = f.text_field :title
%li
  = f.label :body
  = f.text_area :body
%li
  = f.label :start_time
  = f.datetime_select :start_time
%li
  = f.label :end_time
  = f.datetime_select :end_time