!!! 5
%head
  %title WMRUG - West Midlands Ruby User Group
  = stylesheet_link_tag 'reset', 'application'
  = javascript_include_tag :all
  = csrf_meta_tag
%body
  - if flash[:error]
    %div= flash[:error]
  -elsif flash[:success]
    %div= flash[:success]
  #content
    #header
      != render :partial => "countdown"
      #logo
        %h1 WMRUG
      #nav
    = yield
    %script{:type => 'text/javascript'}
      = countdown_script_for_next_event