!!! 5
%head
  %title WMRUG - West Midlands Ruby User Group
  = stylesheet_link_tag 'reset', 'application'
  = javascript_include_tag :all
  = csrf_meta_tag
%body
  - if flash[:error]
    %div= flash[:error]
  -elsif flash[:success]
    %div= flash[:success]
  #content
    #header
      / Countdown dashboard start
      #countdown_dashboard
        %p.countdown_label it's only
        .dash.weeks_dash
          %span.dash_title weeks
          .digit 0
          .digit 0
        .dash.days_dash
          %span.dash_title days
          .digit 0
          .digit 0
        .dash.hours_dash
          %span.dash_title hours
          .digit 0
          .digit 0
        .dash.minutes_dash
          %span.dash_title minutes
          .digit 0
          .digit 0
        .dash.seconds_dash
          %span.dash_title seconds
          .digit 0
          .digit 0
        %p.countdown_label till the next event
      / Countdown dashboard end
      #logo
        %h1 WMRUG
      #nav
    = yield
    %script{:type => 'text/javascript'}
      = countdown_script_for_next_event