!!! 5
%head
  %title WMRUG - West Midlands Ruby User Group
  = stylesheet_link_tag 'reset', 'application', 'countdown'
  = javascript_include_tag :defaults
  = javascript_include_tag 'jquery.lwtCountdown-1.0.js', 'jquery.cycle.all.min.js'
  = csrf_meta_tag
%body
  - if flash[:error]
    %div= flash[:error]
  -elsif flash[:success]
    %div= flash[:success]
  #content
    #header
      != render :partial => "shared/countdown"
      #logo
        = image_tag "ruby.png"
        %h1 WMRUG
        %h5 West Midlands Ruby User Group
      #nav
        = link_to "Home", root_path
        |
        = link_to "Events", events_path
        |
        = link_to "About Us", "#"
    - if @banner
      #banner    
        #slideShowBox
          #slides
            - photos = Photo.all[0..4]
            - photos.each_with_index do |photo, index|
              .slide{:style => index == 0 ? "" : "display:none", :id => index}
                .slideShowImage
                  = image_tag photo.url
                .slideShowOverlay
                  .slideDetails
                    .infoTitle
                      - if photo.event
                        = link_to(photo.title, event_path(photo.event))
                      - else 
                        = photo.title
                    .infoDetails
                      = photo.description
                  .slideNavigation
                    %ul#pager
                      - photos.size.times do |i|
                        %li{:class => i == index ? "current" : "", :id => "slideLink#{i}", :onclick => "$('#slides').cycle(#{i})"}
                          = link_to i + 1, "#" 
                    .clear
      .clear
    #columns
      #mainColumn
        = yield
      #resources.column
        = render :partial => 'shared/resources'
      .clear
    .clear
    != countdown_script_for_next_event